:root {
    --color-black: #000;
    --color-white: #fff;
    --color-brown: brown

    --color-gray-10: #f6f6f6;
    --color-gray-20: #898d8d;
    --color-gray-30: #363636;

    --color-red-10: #cb2c30;
    --color-red-20: #881b26;

    --color-blue-10: #0570c5;
    --color-blue-20: #025699;
    --color-blue-30: #004976;
    --color-blue-40: #003864;
}

@custom-media --small (min-width: 30em);
@custom-media --medium (min-width: 48em);
@custom-media --large (min-width: 64em);
